<div class="course-container">

  <h2> Introducing RxJs</h2>

  <lessons-counter></lessons-counter>

  <lessons-list></lessons-list>

  <input #input>

  <button class="button button-highlight"
          (click)="addLesson(input.value)" >Add Lesson</button>


</div>
