<table class="table lessons-list card card-strong">
  <tbody>
  <tr *ngFor="let lesson of lessons">
    <td class="viewed">
      <input [checked]="lesson.completed" type="checkbox" (click)="toggleLessonViewed(lesson)">
    </td>
    <td class="lesson-title" [ngClass]="{'lesson-viewed': lesson.completed}">
      {{ lesson.description }}
    </td>
    <td class="duration">
      <button class="button button-highlight"
              (click)="delete(lesson)">X</button>
    </td>
  </tr>
  </tbody>
</table>
